Django==1.5
django_select2
django-tables2
django-dajaxice
django-parsley
django-crontab
django-auth-remember
python-memcached
mysql-python
pillow
djangorestframework==2.4.2
redis
jinja2
django-filter
pysqlite
xlwt
django-mysqlpool
httplib2
lesscpy
