--index-url http://pypi.douban.com/simple

Django
Mysql-python
django_select2
django-tables2
django-dajaxice
django-parsley
django-auth-remember
python-memcached
djangorestframework
redis
django-mysqlpool
httplib2
uwsgi

django-render-json
django-render-csv