--index-url http://pypi.douban.com/simple

Django==1.5.2
Mysql-python
django_select2
django-tables2
django-dajaxice
django-parsley
django-crontab
django-auth-remember
python-memcached
djangorestframework
redis
jinja2
django-filter
xlwt
django-mysqlpool
httplib2
