{% extends "base.html" %}

{% load django_select2_tags %}
{% load perm_filters %}
{% load render_table from django_tables2 %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.bs3-fix.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/form_filter.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/statistics.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/datatables.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/oplog.css"/>
{% endblock %}

{% block main %}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">筛选条件</div>
        <div class="panel-body" style="padding: 0px"> 
            <form action="." class="form-filter" method="POST">{% csrf_token %}
                <div class="filters-wrap">
                    {% include "oplog_filter.html" %}
                    <div class="filter-group last">
                        {% include "period.html" %}
                    </div>
                </div>
                <div class="submit">
                    <input type='submit' class="btn btn-primary" value='筛选'</>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            共<span class='total'>{{ count }}</span>次操作
        </div>
        <div class="panel-body"> 
            {% render_table table "table_template.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/locales/bootstrap-datetimepicker.zh-CN.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcombo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.datatables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/datef.js"></script>
{% endblock %}
