<div class="filter">
    <label for="filter_from_date">开始时间：</label>
    <input class="form-control date" type="text" readonly='readonly' 
           data-date-format='yyyy-mm-dd'
           data-date-language='zh-CN' 
           data-min-view='month'
           data-minView='month'
           data-provide='datetimepicker'
           id="id_from_date" name="from_date" value="{{ f_date }}"/>
</div>
<div class="filter">
    <label for="filter_to_date">结束时间：</label>
    <input class="form-control date" type="text" readonly='readonly' 
           data-date-format='yyyy-mm-dd'
           data-date-language='zh-CN' 
           data-min-view='month'
           data-minView='month'
           data-provide='datetimepicker'
           id="id_to_date" name="to_date" value="{{ t_date }}"/>
</div>

