{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block title %}广告管理{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
{% endblock %}

{% block main %}
<div class="main">
    <!--
    <div class="toolbar">
        <a id="add_ad" class="btn btn-primary" href="#add-edit-ad">
            <span class="glyphicon glyphicon-plus"></span> 新增广告
        </a>
        <a data-toggle="modal" class="btn btn-primary" href="#reorder-ad">
            <span class="glyphicon glyphicon-sort"></span> 调整顺序
        </a>
    </div>
    -->
    <div class="panel panel-default">
        <div class="panel-heading">广告列表</div>
        <div class="panel-body"> 
            {% render_table table "multiple_table_template.html" %}
        </div>
    </div>
</div>

{% include "ad_modal.html" with modal_id="add-edit-ad" f=form %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/require.config.js"></script>
<script>
    require(["ad"]);
</script>

{% endblock %}
