{% extends "modal.html" %}

{% block title %}调整顺序{% endblock %}

{% block body %}
<table class="table table-bordered">
    <tbody>
    {% for ad in ad_list %}
    <tr class="ad" data-id="{{ ad.id }}"><td>{{ ad.title }}</td></tr>
    {% empty %}
    <tr><td>暂无广告</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block foot %}
    <button type="button" class="btn btn-primary save" data-loading-text='保存...'>保存</button>
    <button type="button" class="btn btn-default cancel" 
            data-loading-text='取消' data-dismiss="modal">取消</button>
{% endblock %}
