{% extends "base.html" %}

{% load django_select2_tags %}
{% load perm_filters %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/form_filter.css"/>
<style type="text/css">
    .dataTables_wrapper {
        position: relative;
    }

    .dataTables_info {
        display: none;
    }

    .dataTables_wrapper > .dataTables_processing {
        position: absolute;
        width: 200px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: block;
        margin-left: -100px;
        left: 50%;
        top: 35px;
        padding: 10px;
        line-height: 20px;
        text-align: center;
        background: #f5f5f5;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, .1);
    }

    .pagination {
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>
{% endblock %}

{% block main %}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">筛选条件</div>
        <div class="panel-body" style="padding: 0px"> 
            <form class="form-filter">
                <div class="filters-wrap">
                    <div class="filter-group">
                        <div class="filter">
                            <label for="filter_region">{{ filter.region.label }}：</label>
                            <select id="filter_region" name="region"></select>
                        </div>
                        <div class="filter">
                            <label for="filter_company">{{ filter.company.label }}：</label>
                            <select id="filter_company" name="company"> </select>
                        </div>
                        <div class="filter">
                            <label for="filter_store">{{ filter.store.label }}：</label>
                            <select id="filter_store" name="store"></select>
                        </div>
                        <div class="filter">
                            <label for="filter_employee">{{ filter.emp.label }}：</label>
                            <input id="filter_employee" type="hidden" name="emp"/>
                        </div>
                    </div>
                    <div class="filter-group">
                        <div class="filter">
                            <label for="app">{{ filter.app.label }}：</label>
                            <input type="text" id="app" name="app" class="form-control"/>
                        </div>
                    </div>
                    <div class="filter-group">
                        <div class="filter">
                            <label for="brand">{{ filter.brand.label }}：</label>
                            <select id="brand" name="brand">
                                {% for brand in brands %}
                                <option value="{{ brand }}">{{ brand }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="filter-group last">
                        <div class="filter">
                            <label for="from_date">{{ filter.from_date.label }}：</label>
                            <input class="form-control date" type="text" readonly='readonly' 
                                    id="from_date" name="from_date"/>
                        </div>
                        <div class="filter">
                            <label for="to_date">{{ filter.to_date.label }}：</label>
                            <input class="form-control date" type="text" readonly='readonly' 
                                    id="to_date" name="to_date"/>
                        </div>
                    </div>
                </div>
                <div class="submit">
                    <input type='submit'  class="btn btn-primary" value='筛选'</>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            共<span class='total'></span>次安装
            <button class='btn btn-default btn-xs pull-right' id="export-data">导出数据</button>
        </div>
        <div class="panel-body"> 
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>大区</th>
                        <th>公司</th>
                        <th>门店</th>
                        <th>员工</th>
                        <th>品牌</th>
                        <th>机型</th>
                        <th>串号</th>
                        <th>应用名称</th>
                        <th>是否推广</th>
                        <th>日期</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcombo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.datatables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flow.js"></script>
{% endblock %}
