{% extends "base.html" %}

{% load django_select2_tags %}
{% load perm_filters %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.bs3-fix.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/form_filter.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/statistics.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/datatables.css"/>
{% endblock %}

{% block main %}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">筛选条件</div>
        <div class="panel-body" style="padding: 0px"> 
            <form class="form-filter">
                <div class="filters-wrap">
                    <div class="filter-group" id="user-filter" 
                        {% if user_filter.has_perm %}
                        data-perm="true"
                        {% else %}
                        data-perm="false"
                        {% endif %}>
                        <div class="filter">
                            <label for="filter_region">{{ filter.region.label }}：</label>
                            <select id="filter_region" 
                                    {% if not user_filter.has_perm %}
                                    disabled='disabled'
                                    {% endif %}
                                    name="region">
                                {% if not user_filter.has_perm %}
                                <option value="{{ user_filter.region.pk }}" selected='selected'>
                                    {{ user_filter.region.code }}{{ user_filter.region.name }}
                                </option>
                                {% endif %}
                             </select>
                        </div>
                        <div class="filter">
                            <label for="filter_company">{{ filter.company.label }}：</label>
                            <select id="filter_company" name="company"
                                    {% if not user_filter.has_perm %}
                                    disabled='disabled'
                                    {% endif %}>
                                {% if not user_filter.has_perm %}
                                <option value="{{ user_filter.company.pk }}" selected='selected'>
                                    {{ user_filter.company.code }}{{ user_filter.company.name }}
                                </option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="filter">
                            <label for="filter_store">{{ filter.store.label }}：</label>
                            <select id="filter_store" name="store"
                                    {% if not user_filter.has_perm %}
                                    disabled='disabled'
                                    {% endif %}>
                                {% if not user_filter.has_perm %}
                                <option value="{{ user_filter.store.pk }}" selected='selected'>
                                    {{ user_filter.store.code }}{{ user_filter.store.name }}
                                </option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="filter">
                            <label for="filter_employee">{{ filter.emp.label }}：</label>
                            {% if user_filter.has_perm %}
                            <input id="filter_employee" type="hidden" name="emp"/>
                            {% else %}
                            <select id="#filter_employee" name="emp" 
                                    disabled='disabled' value="{{ user_filter">
                                <option value="{{ user_filter.emp.pk }}">
                                    {{ user_filter.emp.username }}
                                </option>
                            </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="filter-group">
                        <div class="filter">
                            <label for="filter_app">{{ filter.app.label }}：</label>
                            <input type="hidden" id="filter_app" name="app"/>
                        </div>
                    </div>
                    <div class="filter-group">
                        <div class="filter">
                            <label for="brand">{{ filter.brand.label }}：</label>
                            <select id="brand" name="brand">
                                <option value="">------</option>
                                {% for brand in brands %}
                                <option value="{{ brand }}">{{ brand }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="filter-group last">
                        <div class="filter">
                            <label for="filter_from_date">{{ filter.from_date.label }}：</label>
                            <input class="form-control date" type="text" readonly='readonly' 
                                    data-date-format='yyyy-mm-dd'
                                    data-date-language='zh-CN' 
                                    data-min-view='month'
                                    data-minView='month'
                                    data-provide='datetimepicker'
                                    value='{{ first_day }}'
                                    id="filter_from_date" name="from_date"/>
                        </div>
                        <div class="filter">
                            <label for="filter_to_date">{{ filter.to_date.label }}：</label>
                            <input class="form-control date" type="text" readonly='readonly' 
                                    data-date-format='yyyy-mm-dd'
                                    data-date-language='zh-CN' 
                                    data-min-view='month'
                                    data-minView='month'
                                    data-provide='datetimepicker'
                                    value="{{ today }}"
                                    id="filter_to_date" name="to_date"/>
                        </div>
                    </div>
                </div>
                <div class="submit">
                    <input type='submit'  class="btn btn-primary" value='筛选'</>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            共<span class='total'></span>次安装
            <button class='btn btn-default btn-xs pull-right' id="export-data">导出数据</button>
        </div>
        <div class="panel-body"> 
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>大区</th>
                        <th>公司</th>
                        <th>门店</th>
                        <th>员工</th>
                        <th>品牌</th>
                        <th>机型</th>
                        <th>串号</th>
                        <th>应用名称</th>
                        <th>是否推广</th>
                        <th>日期</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/locales/bootstrap-datetimepicker.zh-CN.js" 
        charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcombo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.datatables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/statistics.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flow.js"></script>
{% endblock %}
