body {
    background: url(../images/pattern_bg_grey.png);
    font-family: "微软雅黑";
    min-width: 768px;
}

.container {
    width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
}


body .banner-wrap {
    font-size: 16px;
    box-sizing: content-box;
    height: 20px;
    line-height: 20px;
    padding: 10px 0px;
    border: none;
}

.icon-area>img {
    width: 68px;
    height: 68px;
}

.app-list {
    margin-left: -20px;
}

.app-block {
    padding: 10px 0px;
}

.info {
    overflow: hidden;
}

.info>.icon-area, .info>.operate {
    float: left;
}

.app-block .app {
    -webkit-user-select: none;
    padding: 0px;
    height: 163px;
    width: 225px;
    overflow: hidden;
    background: #fff;
    border: none;
    margin-left: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

.app-block .app.selected {
    background: url(../images/selected.png) top right no-repeat #fff;
}

.app:hover {
    background: url(../images/hover.png) top right no-repeat #fff;
}

.app-block .app-inner {
    width: 225px;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 8px;
    background: transparent;
}

.app-block .app-inner:hover {
    border-color: #007fce;
}

@media screen and (max-width: 960px) {
    .container {
        width: 715px;
        margin: 0 auto;
    }
}


.app:hover {
    cursor: pointer;
}

.app .name:hover {
    color: #333;
}

#tip {
    display: inline-block;
    padding: 2px 17px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 19px; 
    border: 1px solid #fff;
    vertical-align: middle;
}