body {
    background: url(../images/pattern_bg_grey.png);
    font-family: "微软雅黑";
    min-width: 768px;
}

.container {
    width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
}


body .banner-wrap {
    font-size: 16px;
    box-sizing: content-box;
    height: 20px;
    line-height: 20px;
    padding: 10px 0px;
    border: none;
}

.icon-area>img {
    width: 68px;
    height: 68px;
}

.app-list {
    margin-left: -20px;
}

.app-block {
    padding: 0px 0px 10px;
}

.info {
    overflow: hidden;
}

.info>.icon-area, .info>.operate {
    float: left;
}

.app-block .app {
    -webkit-user-select: none;
    padding: 0px;
    height: 163px;
    width: 225px;
    overflow: hidden;
    background: #fff;
    border: none;
    margin-left: 20px;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

@media screen and (max-width: 960px) {
    .container {
        width: 715px;
        margin: 0 auto;
    }
}

.app .name:hover {
    color: #333;
}

#tip {
    display: inline-block;
    padding: 2px 17px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 19px; 
    border: 1px solid #fff;
    vertical-align: middle;
}

.app .meta {
	width: 123px;
}

.app .meta span {
	margin-top: 3px;
	display: block;
	line-height: 18px;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.app .name {
	text-overflow: ellipsis;
	color: #666;
	white-space: nowrap;
	vertical-align: middle;
	max-width: 100px;
	width: 100px;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	height: 18px;
	overflow: hidden;
}


.statusbar {
    position: relative; 
    background: #dbe3f0;
    border: 1px solid #c3d0de;
    margin-top: 10px;
    padding: 6px 12px;
}

.statusbar > .progress-section,
.statusbar > .result-section {
    height: 25px;
    line-height: 25px;
    left: 0px;
    top: 0px;
}

.statusbar > .progress-section > .progressbar,
.statusbar > .progress-section > .progress-info, 
.statusbar > .progress-section > .cancel-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.statusbar > .progress-section > .cancel-btn {
    margin-top: -3px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-radius: 3px;
}

.statusbar > .progress-section > .progressbar {
    width: 300px;
    border: 1px solid #bbb;
    border-radius: 8px;
    height: 6px;
    padding: 1px;
}

.statusbar > .progress-section > .progressbar > .progressbar-block {
    background-image: linear-gradient(#7dc023, #62ad1d);
    border-radius: 12px;
    height: 100%;
    width: 0%;
}

.statusbar > .progress-section > .progress-info {
    color: #888;
}

.statusbar > .result-section {
    position: relative;
}

.statusbar > .result-section > #close-btn {
    width: 8px;
    height: 8px;
    right: 0px;
    top: 50%;
    margin-top: -4px;
    border: none;
    background: transparent;
    cursor: pointer;
    background: url(../images/close_progress.png) center center no-repeat;
    position: absolute;
}

.statusbar > .result-section > p.result,
.statusbar > .result-section > p.failed-apps {
    float: left;
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
}

.statusbar > .result-section > p.result.success {
    background: url(../images/install_success.png) left center no-repeat;
    color: #0375bc;
}

.statusbar > .result-section > p.result.fail {
    background: url(../images/install_fail.png) left center no-repeat;
    color: #e94634;
}

