{% extends "modal.html" %}

{% block title %}新增公司{% endblock %}

{% block body %}
<form role="form" class="form-horizontal">
    <input type="hidden" name="id"/>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            <span class="required">*</span>{{ f.code.label }}
        </label>
        <div class="col-lg-8"> {{ f.code }} </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            <span class="required">*</span>{{ f.region.label }}
        </label>
        <div class="col-lg-8"> {{ f.region }} </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            <span class="required">*</span>{{ f.name.label }}
        </label>
        <div class="col-lg-8"> {{ f.name }} </div>
    </div>
</form>
{% endblock %}

{% block foot %}
    <button type="button" class="btn btn-primary save" data-loading-text='保存...'>保存</button>
    <button type="button" class="btn btn-default cancel" 
            data-loading-text='取消' data-dismiss="modal">取消</button>
{% endblock %}
