{% extends "modal.html" %}
{% load perm_filters %}
{% load widget_filters %}

{% block title %}新增普通用户{% endblock %}

{% block body %}
<form role="form" class="form-horizontal">
    <input type="hidden" name="id"/>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            <span class="required">*</span>{{ f.username.label }}
        </label>
        <div class="col-lg-8"> 
            <input id="id_username" maxlength="30" name="username" 
                    class="form-control"
                    parsley-maxlength="30" 
                    parsley-required="true" 
                    parsley-required-message="这个字段是必填项。" 
                    parsley-regexp="^[a-zA-Z0-9.\-_]{1,30}$" 
                    parsley-regexp-message="用户名请输入30字符以内数字、英文或., -，_"
                    type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            <span class="required">*</span>{{ f.realname.label }}
        </label>
        <div class="col-lg-8">
            {{ f.realname }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            <span class="required">*</span>{{ f.organization.label }}
        </label>
        <div class="col-lg-8"> {{ f.organization }} </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            <span class="required">*</span>{{ f.phone.label }}
        </label>
        <div class="col-lg-8">
            <input data-maxlength="20" class="form-control" data-required="true" 
                   parsley-phone="" id="id_phone" maxlength="20" 
                   name="phone" type="text" class="parsley-validated">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            <span class="required">*</span>邮箱
        </label>
        <div class="col-lg-8"> {{ f.email }} </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            {{ f.tel.label }}
        </label>
        <div class="col-lg-8"> {{ f.tel }} </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">
            {{ f.introduce.label }}
        </label>
        <div class="col-lg-8"> {{ f.introduce }} </div>
    </div>

    {% if groupsWidget %}
    <div class="form-group">
        <label class="col-lg-3 control-label">所属组</label>
        <div class="col-lg-8"> {{ groupsWidget|render:"groups" }} </div>
    </div>
    {% endif %}

    {% if permissionsWidget %}
    <div class="form-group">
        <label class="col-lg-3 control-label">授权权限</label>
        <div class="col-lg-8">
            {{ permissionsWidget|render:"user_permissions" }}
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}

{% block foot %}
    <button type="button" class="btn btn-primary save" data-loading-text='保存...'>保存</button>
    <button type="button" class="btn btn-default cancel" 
            data-loading-text='取消' data-dismiss="modal">取消</button>
{% endblock %}
