{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load django_select2_tags %}
{% load perm_filters %}

{% block css %}
{{ block.super }}
<style type="text/css">
.modal-body {
    max-height: none;
    overflow: hidden;
}

.name, .members, .built_in {
    width: 110px;
}
</style>
{% endblock %}

{% block main %}
<div class="main">
    <div class="toolbar">
        <a data-toggle="modal" class="btn btn-primary" href="#add-edit-group">
            <span class="glyphicon glyphicon-plus"></span> 新增用户组
        </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            用户组列表
            {% include "search_form.html" with query=query %} 
        </div>
        <div class="panel-body"> 
            {% render_table groupTable "table_template.html" %}
        </div>
    </div>
</div>

{% include "group_modal.html" with modal_id="add-edit-group" f=groupForm %}
{% include "delete_group_modal.html" with modal_id="delete-group" %} 
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/modals.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/group.js"></script>
{% endblock %}
