{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load django_select2_tags %}
{% load perm_filters %}

{% block css %}
{{ block.super }}
<style type="text/css">
.modal-body {
    max-height: none;
    overflow: hidden;
}
</style>
{% endblock %}

{% block main %}
<div class="main">
    <div class="toolbar">
        <a data-toggle="modal" class="btn btn-primary" href="#add-edit-group">新增用户组</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            用户组列表
            {% include "search_form.html" with query=query %} 
        </div>
        <div class="panel-body"> 
            {% render_table groupTable "table_template.html" %}
        </div>
    </div>
</div>

{% include "group_modal.html" with modal_id="add-edit-group" f=groupForm %}
{% include "delete_group_modal.html" with modal_id="delete-group" %} 
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    $("select").select2();
});


var error_check = suning.decorators.error_check;
var login_check = suning.decorators.login_check;

$(function() {
    var $modal = $("#add-edit-group");
    var $form = $("form", $modal);
    var form = $form[0];
    var $saveBtn = $(".save", $modal);
    var $cancelBtn = $(".cancel", $modal);

    $("table").on("click", ".edit", function() {
        var group = $(this.parentNode).data();
        form.id.value = group.id;
        form.name.value = group.name;
        $(form.permissions).val(group.permissions.toString().split(',')).trigger('change');
        $modal.modal('show');
    });

    function loading() {
        $saveBtn.button('loading');
        $cancelBtn.button('loading');
    }

    function reset() {
        $saveBtn.button('reset');
        $cancelBtn.button('reset');
    }

    $modal.on('show.bs.modal', function() {
        $form.parsley(parsley.bs_options);
        var title = form.id.value == "" ? "新增用户组" : "编辑用户组";
        $(".modal-title", $modal).html(title);
    });

    $modal.on('hide.bs.modal', function() {
        form.id.value = "";
        form.name.value = "";
        $(form.permissions).val("").trigger('change');
        $form.parsley('destroy');
    });

    $saveBtn.click(function() {
        $form.submit();
    });

    function btn_check(func) {
        return function(data) {
            reset();
            func(data);
        }
    }

    function group_name_check(func) {
        return function(data) {
            if(data.ret_code != 0 && data.field) {
                parsley.highlightError(form, data.field);
                toast('error', data.error);
                return;
            }

            func(data);
        }
    }

    $form.submit(function(e) {
        e.preventDefault();
        if (!$form.parsley('validate')) {
            return;
        }

        loading(); 
        Dajaxice.mgr.add_edit_group(btn_check
            (login_check
            (group_name_check
            (error_check
            (function(data) {
                var msg = form.id.value == "" ?  '新增用户组成功' : '用户组信息修改成功'
                toast('success', msg);
                $modal.modal("hide");
                suning.reload(2000);
        })))), {
            form: $form.serialize(true)
        }, {
            error_callback: function() {
                reset();
                toast('error', NETWORK_ERROR_MSG);
            }
        });
    });
});

$(function() {
    var group = null;
    var $modal = $("#delete-group");
    $("table").on('click', '.delete', function() {
        group = $(this.parentNode).data();
        $('.group-name', $modal).html(group.name);
        $modal.modal('show');
    });

    var $saveBtn = $('.save', $modal);
    var $cancelBtn = $('.cancel', $modal);

    function loading() {
        $saveBtn.button('loading');
        $cancelBtn.button('loading');
    }

    function reset() {
        $saveBtn.button('reset');
        $cancelBtn.button('reset');
    }

    function btn_check(func) {
        return function(data) {
            reset();
            func(data);
        }
    }

    $saveBtn.click(function() {
        loading();
        Dajaxice.mgr.delete_group(btn_check
            (login_check
            (error_check
            (function(data) {
                $modal.modal('hide');
                toast('success', '删除成功');
                suning.reload(2000);
        }))), {
            id: group.id
        }, {
            error_callback: function() {
                reset();
                toast('error', NETWORK_ERROR_MSG);
            }
        });
    });
});
</script>
{% endblock %}

