{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load perm_filters %}

{% block main %}
<div class="main">
    <div class="toolbar">
        <div class="btn-group">
            <a type="button" 
                {% if not request.user|can_add_organization %}
                disabled='disabled'
                {% endif %}
                class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span>
                新增组织
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% if request.user.is_superuser or request.user.is_staff %}
                <li><a data-toggle="modal" href="#add-edit-region">新增大区</a></li>
                {% endif %}
                {% if request.user|can_add_company %}
                <li><a data-toggle="modal" href="#add-edit-company">新增公司</a></li>
                {% endif %}
                {% if request.user.is_superuser or request.user.is_staff or perms.mgr.add_organization %}
                <li><a data-toggle="modal" href="#add-edit-store">新增门店</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            大区列表
            {% if user|is_not_employee %}
            {% include "search_form.html" with query_name='rq' query=rq %}
            {% endif %}
        </div>
        <div class="panel-body"> 
            {% render_table regionTable "table_template.html" %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            公司列表
            {% if user|is_not_employee or reqest.user|in_region %}
            {% include "search_form.html" with query_name='cq' query=cq %}
            {% endif %}
        </div>
        <div class="panel-body"> 
            {% render_table companyTable "table_template.html" %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            门店列表
            {% if request.user|is_not_employee or not request.user|in_store %}
            {% include "search_form.html" with query_name='sq' query=sq %}
            {% endif %}
        </div>
        <div class="panel-body">
            {% render_table storeTable "table_template.html"%}
        </div>
    </div>
</div>

{% include "region_modal.html" with modal_id="add-edit-region" f=regionForm %}
{% include "company_modal.html" with modal_id="add-edit-company" f=companyForm %}
{% include "store_modal.html" with modal_id="add-edit-store" f=storeForm %} 
{% include "delete_organization_modal.html" with modal_id="delete-organization"%} 
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/modals.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/organization.js"></script>
{% endblock %}

