{% extends "base.html" %}
{% load perm_filters %}
{% load render_table from django_tables2 %}

{% block css %}
{{ block.super }}
<style type="text/css">
.modal-body {
    max-height: none;
    overflow: hidden;
}

td.username, td.realname {
    width: 110px;
}

.panel-heading {
    height: 40px;
}
</style>

{% endblock %}

{% block main %}
<div class="main">
    <div class="toolbar">
        <div class="btn-group">
            <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                {% if request.user|is_employee and not perms.mgr.add_staff %} 
                disabled='disabled' 
                {% endif %}>
                <span class="glyphicon glyphicon-plus"></span>
                新增用户
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">

                {% if request.user|is_not_employee or perms.mgr.add_staff %} 
                <li> <a data-toggle="modal" href="#add-edit-employee">新增普通用户</a> </li>
                {% endif %}

                {% if request.user.is_superuser %}
                <li><a data-toggle="modal" href="#add-edit-admin">新增管理员</a></li>
                {% endif %}

            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">用户列表</div>
            {% include "search_form.html" with query=query %}
        </div>
        <div class="panel-body">
            {% render_table table "table_template.html" %}
        </div>
    </div>
</div>

{% include "employee_modal.html" with modal_id="add-edit-employee" f=employeeForm groupsWidget=groupsWidget permissionsWidget=permissionsWidget %}

{% if request.user.is_superuser %}
{% include "admin_modal.html" with modal_id="add-edit-admin" f=adminForm %}
{% endif %}

{% include "reset_password_modal.html" with modal_id="reset-password" f=resetPasswordForm %}
{% include "delete_user_modal.html" with modal_id="delete-user" %}
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/modals.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/user.js"></script>
{% endblock %}

