body {
    padding-top: 50px;
    font-family: 'Helvetica Neue', Helvetica, '微软雅黑', Arial, sans-serif;
}

.navbar {
    min-height: 40px;
}

.navbar .navbar-brand {
    background: url(../img/logo.png) no-repeat center;
    min-width: 175px;
}

.navbar.navbar-fixed-top {
    background: #007fce;
}

.navbar {
    border-color: #007fce;
}

.navbar {
    color: #ccc;
}

.navbar .nav > li > a {
    color: #ccc;
}

.navbar .nav .open>li>a, .navbar .nav .open>li>a:hover, .navbar .nav .open>li>a:focus {
    background: #007fce;
}

.navbar .nav>li>a, .navbar .nav>li>a:hover, .navbar .nav>li>a:focus {
    background: #007fce;
}

.open>a:hover, .open>a:focus {
    background: #007fce;
}

.nav .caret,
.nav a:hover .caret,
.nav a:focus .caret,
.nav .open>a:focus .caret,
.nav .open>a:hover .caret {
    border-top-color: #CCC;
    border-bottom-color: #CCC;
}

.sidebar {
    top: 58px;
    padding: 10px 0px;
    position: fixed;
    width: 228px;
    background-color: #f4f8fb;
}

.sidebar li a {
    padding: 5px 20px;
    color: #5a6166;
}

.sidebar li a:hover {
    background: #dbe3e6;
    color: #333;
}

.sidebar li.active>a:hover {
    background: transparent;
}

.sidebar li>a:hover {
    border-right: 1px solid #333;
}

.sidebar li.active>a {
    font-weight: bold;
    color: #007fce;
    border-right: 1px solid #007fce;
}

.nav .nav {
    background: #edf2f5;
}
.sidebar .nav .nav > li {
    font-size: 13px;
}

.sidebar li li a {
    padding-left: 50px;
}

.main {
    margin: 8px 8px 0px 240px;
}

span.required {
    color: #b20;
}

th.ops, td.ops, th.ops_3, td.ops_3 {
    width: 135px;
}

th.ops_2, td.opts_2 {
    width: 105px;
}

td.ops, td.ops_2, td.ops_3 {
    text-align: center;
}

.toolbar {
    margin: 8px 0px;
}

.form-horizontal .form-group.has-success>div>input[type=password], 
.form-horizontal .form-group.has-success>div>input[type=text] {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-horizontal .form-group.has-success>div>input[type=password]:focus, 
.form-horizontal .form-group.has-success>div>input[type=text]:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ABA7B;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ABA7B;
}

.form-horizontal .form-group.has-error>div>input[type=password]:focus, 
.form-horizontal .form-group.has-error>div>input[type=text]:focus {
    border-color: #953B39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;
}

.form-horizontal .form-group.has-error>div>input[type=password], 
.form-horizontal .form-group.has-error>div>input[type=text] {
    border-color: #B94A48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-horizontal .form-group>div>input[type=password], 
.form-horizontal .form-group>div>input[type=text] {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-horizontal .form-group>div>input[type=text][readonly], 
.form-horizontal .form-group>div>input[type=text][disabled], 
.form-horizontal .form-group>div>.form-control[readonly], 
.form-horizontal .form-group>div>.form-control[disabled] {
    cursor: not-allowed;
    background-color: #EEE;
}

.form-horizontal .form-group>div>input[type=password]:focus, 
.form-horizontal .form-group>div>input[type=text]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

ul.pagination {
    margin: 0px;
}

table.table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}

.search {
    zoom: 1;
}

.search form {
    margin-top: -5px;
    position: relative;
}

.search input[type=text] {
    height: 30px;
    border: 1px solid #DDD;
    font-size: 14px;
    line-height: 20px;
    background: #fdfdfd;
    padding: 5px 12px;
    display: block;
    padding-right: 40px;
    border-radius: 15px;
}


.search input[type=text]:focus {
    border: 1px solid #66AFE9;
    background: #fff;
    outline: none;
}

.search button {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    padding: 5px 9px;
    outline: none;
    color: #444;
}

tr.droped {
    color: #999;
}

tr.drag {
    background-color: #f1f1f1;
}

td>p.warn {
    color: #B20;
    font-size: 12px;
}

.form-horizontal .form-group.has-error>div .select2-choices {
    border-color: #B94A48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-horizontal .form-group.has-error>div .select2-dropdown-open .select2-choices {
    border-color: #5897fb;
}

td {
    word-break:break-all;
}

.modal-body {
    word-wrap: break-word;
    word-break: break-all;
}
