#username-wrap {
    background: url(../img/user.png) no-repeat 5% center;
}

#password-wrap {
    background: url(../img/password.png) no-repeat 5% center;
}

input#password, input#username {
	background: none;
}

.container > .form .form-group {
    box-shadow: none;
    border: 1px solid #d8d8d8;
    border-radius: 0px;
    padding-right: 20px;
    padding-left: 60px;
}

.container > .form .form-group input {
    color: #464646;
    background-color: #fff;
    font-size: 18px;
    border-radius: 0px;
    border: none;
    line-height: 30px;
    height: 60px;
    padding: 16px 0px;
}
