body {
    font-family: "微软雅黑";
}

.app-dialog .modal-dialog {
	width: 400px;
	margin-top: 80px;
}

.app-dialog .modal-footer {
	margin-top: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #2e5091;
border-color: #27447c;
}