<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ subject.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wandoujia/css/apps.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wandoujia/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wandoujia/css/apps_fix.css" />
</head>
<body>        
        <div class="banner-wrap container nav">
            <div style="float: left">{{ subject.name }}</div>
            {% include "wandoujia/user_area.html" %}
        </div>
        <div class="toolsbar container">
            <button class="btn btn-primary" id="install">一键安装</button>
            <span id="tip"></span>
        </div>

        <div id="statusbar" class="container statusbar" style="display: none">
            <div class="progress-section">
                <div class="progressbar">
                    <div class="progressbar-block">
                    </div>
                </div>
                <div class="progress-info">
                    已经安装<span class="amount">-</span>款应用
                </div>
                <button id="cancel-btn" class="btn cancel-btn">取消安装</button>
            </div>
            <div class="result-section" style="display: none">
                <p class='result'></p>
                <button id="close-btn">
                </button>
            </div>
        </div>

        <div class="app-block with-comments container">
            <ul class="app-list clearfix">
            {% for app in apps %}
            <li class="app" data-size="{{ app.bits }}" 
                data-name="{{ app.name }}"
                data-pn="com.uc.browser" 
                id="app{{ app.id }}">
                <div class="app-inner">
                    <div class="info">
                        <div class="icon-area">
                            <img src="{{ app.icon }} " alt="{{ app.name }}" class="icon" />
                        </div>
                        <div class="operate">
                            <span class="name" title="{{ app.name }}">
                                <span class="txt">{{ app.name }}</span>
                            </span>
                            <span class="meta">
                                <span title="{{ app.version }}&nbsp;&nbsp;{{ app.size }}">
									{{ app.version }}&nbsp;&nbsp;{{ app.size }}
								</span>
                                <a  data-id="{{ app.id }}" download="{{ app.name }}.apk" 
                                    style="display: none"
                                    class="btn install-link"
                                    data-package="{{ app.package }}" 
                                    href="{{ MEDIA_URL }}{{ app.apk }}?md5={{ app.md5 }}#name={{ app.name }}&icon=http://{{ request.META.HTTP_HOST }}{{ app.icon }}&content-type=application" >安装</a>
                            </span>    
                        </div>
                    </div>
                    <div class="pos-comment">
                        <div class="cmt-split"><i></i></div>
                        <div class="cmt-content">{{ app.desc }}</div>
                    </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    <script type="text/javascript"> 
    var subject_id = {{ subject.pk }}; 
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/require.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}wandoujia/js/Narya.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}wandoujia/js/apps.js"></script>
    
	<script type="text/javascript">
    var _usersnapconfig = {
        apiKey: '44454a5d-a6be-48dd-baf0-be92350732c0',
        valign: 'bottom',
        halign: 'right',
        tools: ["pen", "highlight", "note"],
        lang: 'en',
        commentBox: true,
        emailBox: false
    }; 
    (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//api.usersnap.com/usersnap.js';
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);
    })();
    </script>

</body>
</html>
