<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>专题列表</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}wandoujia/css/subjects.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}wandoujia/css/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}wandoujia/css/subjects_fix.css"/>
</head>
<body data-page="special-list" class="special-list">
    <div class="special-block clearfix nav">
        {% include "wandoujia/user_area.html" %}
    </div>
    <div id="subjects_wrap" class="special-block clearfix">
        <div class="special-content clearfix">
        </div>
    </div>    
    <div id="empty" style="display: none">暂无应用专题</div>
    <div id="loading" style="display: none">加载应用专题</div>

    <ul id="logs" style="display: none;height: 300px;overflow: auto;"></ul>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/console-polyfill.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" 
            src="{{ STATIC_URL }}wandoujia/js/jquery.json-2.4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}wandoujia/js/ie-webview.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}wandoujia/js/subjects.js"></script>

    <script type="text/template" id="subject_template">
        <div class="special-item" data-id="<%- subject.id %>">
            <div class="special-wrap" title="<%- subject.name %>">
                <img width="205" height="80" src="<%= subject.cover %>" 
                     alt="<%- subject.name %>"/>
            </div>
            <div class="name" title="<%- subject.name %>">
                <%= subject.name %>
            </div>
            <div class="meta">
                <span class="first"><%- subject.count %>款应用</span>
                <span>共<%- subject.size %></span>
            </div>
        </div>
    </script>
</body>
</html>
