<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>专题列表</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}wandoujia/css/subjects.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}wandoujia/css/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}wandoujia/css/subjects_fix.css"/>
</head>
<body data-page="special-list" class="special-list">
        <div class="special-block clearfix nav">
            {% include "wandoujia/user_area.html" %}
        </div>

        <div id="subjects_wrap" class="special-block clearfix">
            <div class="special-content clearfix">
            </div>
        </div>    

        <div id="empty" style="display: none">
            暂无应用专题
        </div>

    <script type="text/template" id="subject_template">
        <div class="special-item" data-id="<%- subject.id %>">
            <div class="special-wrap" title="<%- subject.name %>">
                <img width="205" height="80" src="<%= subject.cover %>" 
                     alt="<%- subject.name %>"/>
            </div>
            <div class="name" title="<%- subject.name %>">
                <%= subject.name %>
            </div>
            <div class="meta">
                <span class="first"><%- subject.count %>款应用</span>
                <span>共<%- subject.size %></span>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/require.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}wandoujia/js/Narya.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <script type="text/javascript">
    require(["Narya"], function() {
    $(function() {
        var subject_template = _.template($("#subject_template").html());
        var $subjects_wrap = $("#subjects_wrap");
        var $subjects = $subjects_wrap.find(".special-content");
        $subjects.on('click', '.special-item', function() {
            var subject_id = $(this).data("id");
            if(!subject_id) return;

            window.location = "/interface/subjects/" + subject_id;

        });
        var $empty = $("#empty");

        function refreshSubjects() {
            var connected = Narya.Device.get("isConnected");
            console.log("connected?", connected);

            var model = "", size = "";
            if (connected) {
                var build = Narya.Device.get("build");
                if(build) {
                    model = build.get("model") || "";
                }
                // TODO size = ?
            }
            console.log("model", model, "size", size);

            $.get("/interface/getSubjects", {
                model: model,
                size: size
            }, "json").done(function(data) {
                if (data.ret_code != 0) {
                    return console.error(data);
                }

                if(data.subjects.length === 0) {
                    $subjects_wrap.hide();
                    $empty.show();
                    return;
                } 
               
                $subjects.empty();
                _.each(data.subjects, function(subject) {
                    var html = subject_template({
                        subject: subject
                    }).trim();
                    $(html).appendTo($subjects);
                });
                $subjects_wrap.show();
                $empty.hide();
            }).fail(function() {
                return console.error("network error");
            });
        }

        Narya.Device.on('change:isConnected', refreshSubjects);
        refreshSubjects();
    });
    });
    </script>

	<script type="text/javascript">
    var _usersnapconfig = {
        apiKey: '44454a5d-a6be-48dd-baf0-be92350732c0',
        valign: 'bottom',
        halign: 'right',
        tools: ["pen", "highlight", "note"],
        lang: 'en',
        commentBox: true,
        emailBox: false
    }; 
    (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//api.usersnap.com/usersnap.js';
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);
    })();
    </script>

</body>
</html>
