{% extends "scaffolding.html" %}
{% load perm_filters %}
{% load django_select2_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
{% import_django_select2_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/select2-adaptation.css" />
<!--<link rel="stylesheet" href="{{ STATIC_URL }}css/select2-bootstrap.css" />-->
{% endblock %}

{% block content %}

{% block navbar %}
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">&nbsp;</a>
    </div>
    <p class="navbar-text">苏宁豌豆荚手机助手管理后台</p>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
			<li><a class="navbar-link" href="/interface/subjects"><span class="glyphicon glyphicon-share-alt" style="top: 2px; right: 2px;"></span>前往一键安装</a></li>
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ user.username|default:"用户名称" }}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a {% if not request.session.wandoujia %}
                           href="/logout"
                           {% else %}
                           href="/interface/logout"
                           {% endif %}>
                            <span class="glyphicon glyphicon-off" style="top: 2px"></span> 退出
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div>
{% endblock %}<!-- navbar -->

{% block sidebar %}
<div id="sidebar" class="sidebar affix">
    <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
            <li {% if request.nav.active_tab == 'account' %}class="active"{% endif %}>
                <a href="/mgr/account">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人中心
                </a>
            </li>

            {% if request.user|is_not_employee or perms.ad %}
            <li {% if request.nav.active_tab == "ad" %}class="active"{% endif %}>
                <a href="/ad/">
                    <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;广告管理
                </a>
            </li>
            {% endif %}

            {% if request.user|can_view_app %}
            <li {% if request.nav.active_tab == "app" %}class="active"{% endif %}>
                <a href="/app/">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;&nbsp;应用管理
                </a>
            </li>
            {% endif %}

            {% if request.user|can_view_subject %}
            <li {% if request.nav.active_tab == "subject" %}class="active"{% endif %}>
                <a href="/app/subject/">
                    <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;应用专题管理
                </a>
            </li>
            {% endif %}

            {% if request.user|is_not_employee %}
            <!--
            <li><a href="">
                <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;反馈管理
            </a></li>
            -->
            {% endif %}

            {% if request.user|is_not_employee or perms.mgr %}
            <li {% if request.nav.active_tab == "system" %}class="active"{% endif %}>
                <a class="accordin-toggle" data-toggle="collapse" data-parent="#accordin" href="#sub_system">
                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;系统管理
                </a>
                <ul id="sub_system" class="nav collapse in">
                    {% if request.user|can_view_organization %}
                    <li {% if request.nav.active_tab == "system" and request.nav.sub_active_tab == "organization" %}class="active"{% endif %}>
                        <a href="/mgr/organization/">组织管理</a>
                    </li>
                    {% endif %}

                    {% if request.user|is_not_employee %}
                    <li {% if request.nav.active_tab == "system" and request.nav.sub_active_tab == "group" %}class="active"{% endif %}>
                        <a href="/mgr/group/">用户组管理</a>
                    </li>
                    {% endif %}

                    {% if request.user|can_view_staff %}
                    <li {% if request.nav.active_tab == "system" and request.nav.sub_active_tab == "user" %}class="active"{% endif %}>
                        <a href="/mgr/user/">用户管理</a>
                    </li>
                    {% endif %}

                    {% if request.user|is_not_employee %}
                    <!--
                    <li><a href="">操作日志</a></li>
                    -->
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            <li {% if request.nav.active_tab == "statistics" %}
                class="active"
                {% endif %}>
                <a class="accordin-toggle" data-toggle="collapse" 
                    data-parent="#accordin" href="#sub_statistics">
                    <span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;数据统计
                </a>
                <ul class="nav collapse in" id="sub_statistics">
                    <li {% if request.nav.active_tab == "statistics" and request.nav.sub_active_tab == "flow" %}
                        class="active"
                        {% endif %}>
                        <a href="/statistics/flow">流水统计</a>
                    </li>
                    <li {% if request.nav.active_tab == "statistics" and request.nav.sub_active_tab == "capacity" %}
                        class="active"
                        {% endif %}>
                        <a href="/statistics/capacity">安装统计</a>
                    </li>
                    <li {% if request.nav.active_tab == "statistics" and request.nav.sub_active_tab == "device" %}
                        class="active"
                        {% endif %}>
                        <a href="/statistics/device">机型统计</a>
                    </li>
                    <li {% if request.nav.active_tab == "statistics" and request.nav.sub_active_tab == "organization" %}
                        class="active"
                        {% endif %}>
                        <a href="/statistics/organization">组织统计</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}<!-- sidebar end -->

{% block main %}
{% endblock %}<!-- main end -->

{% endblock %}

{% block js %}
{{ block.super }}
{% import_django_select2_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/parsley.min.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/parsley.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}js/i18n/messages.zh_cn.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/suning_helper.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
{% endblock %}

