{% extends "scaffolding.html" %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
{% endblock %}
{% block content %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <!--
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ user.username|default:"用户名称" }}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/logout"><span class="glyphicon glyphicon-off" style="top: 2px"></span> 退出</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div>
{% endblock %}<!-- navbar -->

{% block sidebar %}
<div class="sidebar affix">
    <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
            <li class="active"><a href="#glyphicons">Glyphicons</a></li>
            <li><a href="#dropdowns">Dropdowns</a></li>
            <li><a href="#btn-groups">Button groups</a></li>
        </ul>
    </div>
</div>
{% endblock %}<!-- sidebar end -->

{% block main %}
{% endblock %}<!-- main end -->

{% endblock %}

