{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}苏宁豌豆荚手机助手管理后台{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    {% endblock %}
</head>
<body>
<pre>
亲爱的{{ realname }}，你好！

    欢迎您使用苏宁豌豆荚手机助手管理后台！
    用户名：{{ username }}
    初始密码：{{ password }}
    请登录 <a href="http://{{ link }}">{{ link }}</a> 修改密码。

祝工作顺利
苏宁豌豆荚手机助手团队
</pre>
</body>
</html>
