{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>{% block title %}苏宁豌豆荚手机助手管理后台{% endblock %}</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    {#<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css" />#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.pnotify.default.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.pnotify.default.icons.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pnotify-bs3-fix.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.min.css" />
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
    {% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/search_form.js"></script>
    <script type="text/javascript">
    var toast = function(type, text) {
        var options = { 
            text: text,
            type: type,
            delay: 2000,
            history: false,
            stack: false,
            closer: false,
            sticker: false,
            styling: 'bootstrap',
            before_open: function(pnotify) {
                pnotify.css({
                    "top": ($(window).height() / 2) - (pnotify.height() / 2), 
                    "left": ($(window).width() / 2) - (pnotify.width() / 2)
                }); 
            }   
        }; 
        $.pnotify(options);
    };
    </script>
    {% dajaxice_js_import %}
    {% endblock %}
    <!--
    <script type="text/javascript">
    var _usersnapconfig = {
        apiKey: 'a5a73e9d-c812-4009-bda2-b609a5ad1ffc',
        valign: 'bottom',
        halign: 'right',
        tools: ["pen", "highlight", "note"],
        lang: 'en',
        commentBox: true,
        emailBox: true
    }; 
    
    (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//api.usersnap.com/usersnap.js';
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);
    })();
    </script>
    -->
</body>
</html>
