<div class="search pull-right">
<form data-provide="search-form" method="GET" action="{{ action|default:"." }}">
    <input class="query" type="text" name="{{ query_name|default:"q" }}" 
            value="{{ query|default:"" }}">

    <button type="submit" 
    		{% if query %}
    		class="btn btn-link search hide"
    		{% else %}
    		class="btn btn-link search"
    		{% endif %}>
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <button type="button" 
    		{% if query %}
    		class="btn btn-link reset"
    		{% else %}
    		class="btn btn-link reset hide"
    		{% endif %}>
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</form>
</div>