SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
0-59/1  *  *  *  * root  /root/home_used.sh && scp /home/used_space.log root@www.limijiaoyin.com:/opt/source/used_space.txt
0-59/15 *  *  * *  songwei  python /home/songwei/logCount/master_do.py >> /data/suning/tmp/out.out
0-59/10  *  * * * songwei  python /home/songwei/logCount/slave_do.py
*  0-23/1 * * * root bash /data/suning/autorebuild_static.sh
