{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load django_select2_tags %}
{% load perm_filters %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css" />
<style type="text/css">
.uploadify {
    float: left;
    position: absolute;
}

.uploadify-button {
    text-align: center;
    background: #5CB85C;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #4CAE4C;
}

.uploadify-button:hover {
    background-color: #47A447;
    border-color: #398439;
}

.uploadify-queue {
    display: none;
}

#cancel-upload {
    float: left;
}

.radio-select {
    padding-left: 0px;
    list-style: none;
}

.radio-select li {
    float: left;
}
</style>
{% endblock %}

{% block main %}
<div class="main">
    <div class="toolbar">
        <a data-toggle="modal" class="btn btn-primary" href="#add-edit-app"
            {% if request.user|is_employee and not perms.app %}
            disabled='disabled'
            {% endif %}>
            新增应用
        </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            应用列表
            {% include "search_form.html" with query=query %} 
        </div>
        <div class="panel-body"> 
            {% render_table table "table_template.html" %}
        </div>
    </div>
</div>

{% include "app_modal.html" with modal_id="add-edit-app" f=form %}
{# {% include "delete_group_modal.html" with modal_id="delete-group" %}  #}
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/ajax-upload-widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.uploadify.js"></script>
<script type="text/javascript">
$(function() {
    $("select").select2();
});

var error_check = suning.decorators.error_check;
var login_check = suning.decorators.login_check;

$(function() {
    var ADD_APP_MODE = "add";
    var EDIT_APP_MODE = "edit";
    var ADD_APP_TITLE = "新增应用";
    var EDIT_APP_TITLE = "编辑应用";
    var mode = null; 

    var options = $.extend({}, parsley.bs_options, {
        excluded: '[type=hidden], #id_icon',
    });

    var $modal = $("#add-edit-app");
    var $uploadForm = $("#upload-apk");
    var $form = $("#app-form", $modal);
    var form = $form[0];
    var $saveBtn = $(".save", $modal);
    var app = null;

    var auw = new AjaxUploadWidget($(form.icon), {
        changeButtonText : "修改图片",
        removeButtonText : "删除图片",
        onError: function(data) {
            toast('error', '图片上传失败，请重试。');
        }
    });

    function lock_check(func) {
        return function() {
            suning.modal.unlock($modal);
            func && func.apply(window, arguments);
        }
    }

    var $upload = $("#fileupload");
    var $cancelBtn = $("#cancel-upload");
    var $tip = $uploadForm.find(".tip");

    function enable_upload(func) {
        return function() {
            $("#fileupload").uploadify('disable', false);
            func && func.apply(window, arguments);
        }
    }

    function disable_upload(func) {
        return function() {
            $("#fileupload").uploadify('disable', true);
            func && func.apply(window, arguments);
        }
    }

    function show_cancel_btn(func) {
        return function() {
            $("#fileupload").css("top", '10000px');
            $cancelBtn.show();
            func && func.apply(window, arguments);
        }
    }

    function show_upload_btn(func) {
        return function() {
            $cancelBtn.hide();
            $("#fileupload").css("top", '0px');
            func && func.apply(window, arguments);
        }
    }

    function onStart() {
        suning.modal.lock($modal);
        $tip.html("");
        $tip.show();
    }

    function onProgress(progress) {
        $tip.html('已上传' + progress + '%，请稍候...');
        if (progress == 100) {
            $tip.html('正在解析应用信息...');
        }
    }

    function clearTip() {
        $tip.hide().html("");
    }

    function onDone(file, data) {
        var data = $.parseJSON(data);
        if (mode == ADD_APP_MODE) {
            app = {
                apk: data.apk_id,
                name: data.name,
                version: data.version,
                size: data.size,
                package: data.packageName,
                icon: data.icon
            };

            form.apk.value = app.apk;
            form.name.value = app.name;
            form.version.value = app.version;
            var size = app.size;
            if (size < 1024 * 1024) {
                form.size.value = (size / 1024).toFixed(2) + " KB";
            } else {
                form.size.value = (size / 1024 / 1024).toFixed(2) + " MB";
            }
            form.icon.value = app.icon;
            form.package.value = app.package;
        }
        clearTip();
    }

    function onFailed(file, errorCode, errorMsg, errorString) {
        console.log(file, errorCode, errorMsg, errorString);
        clearTip();

        if(errorString == "Cancelled") return;
        toast('error', '应用上传失败');
    }

    $cancelBtn.click(function(e) {
        e.preventDefault();
        $("#fileupload").uploadify('cancel');
    });

    $upload.uploadify({
        swf: '{{ STATIC_URL }}uploadify.swf',
        uploader: 'upload',
        buttonText: "<span class='glyphicon glyphicon-upload'></span>&nbsp;选择文件",
        fileObjName: 'file',
        fileTypeExts: "*.apk",
        width: 100,
        height: 34,
        multi: false,
        formData: {
            csrfmiddlewaretoken: $uploadForm[0].csrfmiddlewaretoken.value
        },
        onDisable: function() {
            $("#fileupload-button").css("opacity", 0.6);
        },
        onEnable: function() {
            $("#fileupload-button").css("opacity", 1);
        },
        onSelectError: function() {
            toast('error', '文件出错，可能是文件类型不符合要求');
        },
        onCancel: enable_upload(show_upload_btn
                                (lock_check())),
        onUploadStart: disable_upload(show_cancel_btn
                                        (onStart)),
        onUploadProgress: function(file, upload, total) {
            onProgress(parseInt(upload / total * 100, 10));
        },
        onUploadError: enable_upload(show_upload_btn
                                    (lock_check
                                    (onFailed))),
        onUploadSuccess: enable_upload(show_upload_btn
                                        (lock_check
                                        (onDone)))
    });

    $("table").on("click", ".edit", function() {
        var app = $(this.parentNode).data();
        /*
        form.id.value = group.id;
        form.name.value = group.name;
        $(form.permissions).val(group.permissions.toString().split(',')).trigger('change');
        */
        $modal.modal('show');
    });


    $modal.on('show.bs.modal', function() {
        $form.parsley(parsley.bs_options);
        mode = form.id.value == "" ? ADD_APP_MODE : EDIT_APP_MODE;
        var title = mode == ADD_APP_MODE ? ADD_APP_TITLE : EDIT_APP_TITLE;
        suning.modal.setTitle($modal, title);
    });

    $modal.on('hide.bs.modal', function() {
        form.id.value = "";
        form.apk.value = "";
        form.package.value = "";
        form.name.value = "";
        form.version.value = "";
        form.size.value = "";
        form.icon.value = "";
        form.category.value = "";
        form.popularize = "True";
        form.desc = "";
        $form.parsley('destroy');
    });

    $saveBtn.click(function() {
        $form.submit();
    });

    function field_check(func) {
        return function(data) {
            if(data.ret_code != 0 && data.field) {
                suning.highlightError(form, data.field);
                toast('error', data.error);
                return;
            }

            func(data);
        }
    }

    $form.submit(function(e) {
        e.preventDefault();
        if (!$form.parsley('validate')) return;

        var onSuccess = lock_check(login_check(field_check(error_check(function(data) {
            var msg = form.id.value == "" ?  '新增应用成功' : '应用信息修改成功'
            toast('success', msg);
            $modal.modal("hide");
            suning.reload(2000);
        }))));
        var onError = lock_check(suning.toastNetworkError);

        suning.modal.lock($modal);
        Dajaxice.mgr.add_edit_app(onSuccess, { 
            form: $form.serialize(true) 
        }, { 
            error_callback: onError 
        });
    });
});

$(function() {
    var app = null;
    var $modal = $("#delete-app");
    var $saveBtn = $(".save", $modal);

    $("table").on('click', '.delete', function() {
        app = $(this.parentNode).data();
        $('.model-name', $modal).html(app.name);
        $modal.modal('show');
    });

    function lock_check(func) {
        return function(data) {
            suning.modal.unlock($modal);
            func(data);
        }
    }

    $saveBtn.click(function() {
        suning.modal.lock($modal);
        Dajaxice.mgr.delete_group(lock_check
            (login_check
            (error_check
            (function(data) {
                $modal.modal('hide');
                toast('success', '删除成功');
                suning.reload(2000);
        }))), {
            id: app.id
        }, {
            error_callback: lock_check(suning.toastNetworkError)
        });
    });
});
</script>
{% endblock %}


