{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load django_select2_tags %}
{% load perm_filters %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css" />
{% endblock %}

{% block main %}
<div class="main">
    <div class="toolbar">
        <a data-toggle="modal" class="btn btn-primary" href="#add-edit-subject"
            {% if request.user|is_employee and not perms.app %}
            disabled='disabled'
            {% endif %}>
            <span class="glyphicon glyphicon-plus"></span> 新增应用专题
        </a>
        <a data-toggle="modal" class="btn btn-primary" href="#sort_subjects"
            {% if request.user|is_employee and not perms.app.sort_subject %}
            disabled='disabled'
            {% endif %}>
            <span class="glyphicon glyphicon-sort"></span> 调整顺序
        </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            应用专题列表
            {% include "search_form.html" with query=query %} 
        </div>
        <div class="panel-body"> 
            {% render_table table "app_table.html" %}
        </div>
    </div>
</div>

{% include "subject_modal.html" with modal_id="add-edit-subject" f=form %}
{% include "delete_modal.html" with modal_id="delete-subject" model_name="应用专题" %}
{% include "modal.html" with modal_id="prompt" %} 
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" 
        src="{{ STATIC_URL }}ajax_upload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" 
        src="{{ STATIC_URL }}ajax_upload/js/ajax-upload-widget.js"></script>
<script type="text/javascript">
var error_check = suning.decorators.error_check;
var login_check = suning.decorators.login_check;

$(function() {
    var $modal = $("#add-edit-subject");
    var $form = $("form", $modal);
    var form = $form[0];
    var $saveBtn = $(".save", $modal);
    var $apps = $(form.apps);
    var query_id = 0;

    $apps.select2({
        tags: [],
        ajax: {
            url: '/app/search_apps/',
            dataType: 'json',
            data: function(term, page) {
                return {
                    q: term,
                    page_limit: 10,
                    p: page
                }
            },
            results: function(data, page) {
                if(data.ret_code != 0) return {results: [], more: false};
                var more = (page * 10) < data.total;
                return {results: data.results, more: more};
            }
        },
        initSelection : function (element, callback) {
            var value = $(element).val();
            if(value == '') {
                callback([]);
                return;
            }

            var current = query_id;
            function query_check(func) {
                return function(data) {
                    if(current != query_id) {
                        console.log('query_id not equals, drop it');
                        return;
                    }
                    func(data)
                }
            }

            $apps.select2('readonly', true);
            Dajaxice.app.get_apps(query_check(function(data) {
                $apps.select2('readonly', false);
                callback(data.results);
            }), {pks: value}, {
                error_callback: function() {
                    console.error('failed to query apps, network error');
                    return;
                }
            })
        }
    });

    var auw = new AjaxUploadWidget($(form.cover), {
        changeButtonText : "修改图片",
        removeButtonText : "删除图片",
        onError: function(data) {
            suning.modal.unlock($modal);
            toast('error', '图片上传失败，请重试。');
        },
        onUpload: function() {
            suning.modal.lock($modal);
        },
        onComplete: function() {
            suning.modal.unlock($modal);
        }
    });

    function lock_check(func) {
        return function() {
            suning.modal.unlock($modal);
            func && func.apply(window, arguments);
        }
    }
    
    $("table").on("click", ".edit", function() {
        var subject = $(this.parentNode).data();
        form.id.value = subject.id;
        form.name.value = subject.name;
        form.desc.value = subject.desc;
        $(form.cover).val(subject.cover).trigger('change');
        $apps.val(subject.apps).trigger('change');
        $modal.modal('show');
    });

    $modal.on('hide.bs.modal', function() {
        form.id.value = "";
        form.name.value = "";
        form.desc.value = "";
        $(form.cover).val("").trigger('change');

        $apps.val("").trigger('change');
        $apps.select2('readonly', false);
        query_id++;
        $form.parsley('destroy');
    });

    $modal.on('show.bs.modal', function() {
        $form.parsley(parsley.bs_options);
        var title = !form.id.value ? '新增应用专题' : '修改应用专题';
        suning.modal.setTitle($modal, title);
    });

    $saveBtn.click(function() {
        $form.submit();
    });

    function field_check(func) {
        return function(data) {
            if(data.ret_code != 0 && data.field) {
                parsley.highlightError(form, data.field);
                toast('error', data.error);
                return;
            }

            func(data);
        }
    }

    $form.submit(function(e) {
        e.preventDefault();
        if (!$form.parsley('validate')) return;

        var onSuccess = lock_check(login_check(field_check(error_check(function(data) {
            var msg = !form.id.value ?  '新增应用专题成功' : '应用专题修改成功';
            toast('success', msg);
            $modal.modal("hide");
            suning.reload(2000);
        }))));
        var onError = lock_check(suning.toastNetworkError);

        suning.modal.lock($modal);
        Dajaxice.app.add_edit_subject(onSuccess, { 
            form: $form.serialize(true) 
        }, { 
            error_callback: onError 
        });
    });
});

$(function() {
    var subject = null;
    var $modal = $("#delete-subject");
    var $saveBtn = $(".save", $modal);

    $("table").on('click', '.delete', function() {
        subject = $(this.parentNode).data();
        $('.model-name', $modal).html(subject.name);
        $modal.modal('show');
    });

    function lock_check(func) {
        return function(data) {
            suning.modal.unlock($modal);
            func(data);
        }
    }

    $saveBtn.click(function() {
        suning.modal.lock($modal);
        Dajaxice.app.delete_subject(lock_check
            (login_check
            (error_check
            (function(data) {
                $modal.modal('hide');
                toast('success', '删除成功');
                suning.reload(2000);
        }))), {
            id: subject.id
        }, {
            error_callback: lock_check(suning.toastNetworkError)
        });
    });
});

$(function() {
    var mode = null;
    var PUBLISH_SUBJECT = "publish_subject";
    var DROP_SUBJECT = "drop_subject";
    var app = null;
    var $modal = $("#prompt");
    var $saveBtn = $modal.find(".save");

    $("table").on("click", ".publish", function() {
        mode = PUBLISH_SUBJECT;
        app = $(this.parentNode).data();
        $modal.modal('show');
    });

    $("table").on("click", ".drop", function() {
        mode = DROP_SUBJECT;
        app = $(this.parentNode).data();
        $modal.modal('show');
    });

    function lock_check(func) {
        return function(data) {
            suning.modal.unlock($modal);
            func(data);
        }
    }

    $modal.on('show.bs.modal', function() {
        var action = mode == PUBLISH_SUBJECT ? "上线应用专题" : "下线应用专题";
        $modal.find(".modal-title").html(action);
        if(mode == PUBLISH_SUBJECT) {
            var template = _.template("确定要上线应用专题&nbsp;<strong><%= name %></strong>&nbsp;吗?");
            $modal.find(".modal-body").html(template({name: app.name}));
        } else {
            $modal.find(".modal-body").html("如果应用下线了，将不能被手机助手用户看到，并且会排在应用列表的后面。确认继续吗？");
        }
    });

    $saveBtn.click(function() {
        var func = Dajaxice.app[mode];
        suning.modal.lock($modal);
        func(lock_check(login_check(error_check(function(data) {
            toast('success', mode == PUBLISH_APP ? '应用专题已上线' : '应用专题已下线');
            $modal.modal('hide');
            suning.reload(2000);
        }))), {id: app.id}, {error_callback: lock_check(suning.toastNetworkError)});
    });
});
</script>
{% endblock %}
