{% load organization_filters %}
{% load perm_filters %}
{% load app_filters %}

<div class="btn-group btn-group-sm subjectmap-type-{{ record.type }}" 
    data-id="{{ record.id }}"
    data-type="{{ record.type }}"
	data-model="{{ record.model.pk }}"
    data-memsize="{{ record.mem_size }}"
    data-subject="{{ record.subject.id }}"
	data-name="{{ record|get_subjectmap_name }}">

    <button type="button"  
            {% if request.user|is_employee and not perms.app.change_subjectmap %}
            disabled='disabled'
            {% endif %}
            class="btn btn-default edit" title="编辑">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <button type="button"
            {% if request.user|is_employee and not perms.app.delete_subjectmap %}
            disabled='disabled'
            {% endif %}
            class="btn btn-danger delete" title="删除">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</div>
